<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikitechy-Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container col-4 shadow p-5 ">
        <h1 class="text-primary">Login Student</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% load static %}
            
            <label for=""><b>Email</b></label>
            <input type="text" name="email" placeholder="Enter Email" class="form-control  border border-primary "><br><br>
            <label for=""><b>Password</b></label>
            <input type="text" name="password" placeholder="Enter Password" class="form-control border border-primary"><br><br>
            
            <button class="btn btn-primary">Login</button><br>
            <label for="">{{error}}</label><br>
            <label >Create New Account</label>
            <a href="/signup" class="btn btn-info" >SignUp</a>
            
        </form>
    </div>
    
    
</body>
</html>